
<div class="main-content" role="main">
  <aside class="side-menu">
    <div>
      <span>SLACA 2019</span>
    </div>
    <img src="" alt="" class="logo-img">
    <nav>
      <a href="#">Apresentação</a>
      <a href="#">Comitês</a>
      <a href="#">Autores</a>
      <a href="#">Eixos temáticos</a>
      <a href="#">Trabalhos</a>
      <a href="#">Contato</a>
    </nav>
  </aside>
  <main>
    <header class="header">
      <div class="header-text-container">
        <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <h1>Anais do 13° Simpósio Latino Americano de Ciências de Alimentos</h1>
        <span>ISSN: 1234-5678</span>
      </div>
      <button>PT, BR</button>
      <div class="header-user-info-container">
        <span>Bem Vindo!</span>
        <span>alguem12@galoascience.com</span>
        <img src="" alt="">
      </div>
    </header>
    <div id="required-elements">
      <section class="content-work-details">
        <div class="title-video-work-container">
          <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
          <iframe src="" frameborder="0"></iframe>
        </div>
        <div class="details-work-container">
          botoes aqui
          <div class="details-container"></div>
        </div>
      </section>
      <section class="resume-container">
        <h3>Resumo</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, obcaecati. Similique quam doloremque deleniti necessitatibus! Assumenda blanditiis fuga dicta cumque vel est, deserunt, molestias optio nemo sint ullam enim eos! <a href="#" class="btn-show-more">ver mais</a></p>
      </section>
      <section class="topics-container">
        <h3>Discussões</h3>
        <a href="#" class="btn-create-topic">criar tópico</a>
        <h3>O card que contém um tópico respondido precisa ter a classe .answered-topic, o assunto do tópico deve ter a classe .ops-topic-subject</h3>
        <div class="answered-topic">
          <h4 class="ops-topic-subject">Título do tópico</h4>
        </div>
        <div div class="comments-container">
          Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
        </div>

        <form>
          Assunto:
          <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
          Conteúdo:
          <!-- <input> -->
          <button>Enviar</button>
        </form>
      </section>
      <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
    </div>
  </main>
</div>
