@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h4,
h5,
h6 {
  margin: 8px 0;
  font-weight: 400;
}
h3{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Roboto', "sans-serif";
}

h2 {
  margin-top: 50px;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #04345d;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

#required-elements{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80vw;
  margin-left: 2rem;
}

.side-menu{
  display: flex;
  flex-direction: column;
  border-right : solid 3px #E7E7E7;

  .name-event-container{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

  }

  .side-menu-navigator{
    display: flex;
    flex-direction: column;

    a{
      color: #725C5C;
      height: 1rem auto;
      padding: .7rem;
      border-bottom: solid 2px #E7E7E7;
      transition: 0.2s ease-in all;
      color: #725C5C;
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    a:hover{
      background: #FDF1EB;
      border-left: solid 3px #ED7839;
    }
  }
}

.main{
  display: flex;
  flex-direction: column;


  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #725C5C;
    font-family: 'Roboto', sans-serif;
    background: #FDF1EB;

    .header-text-container {
      margin-left: 2rem;
      span{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }

      button {
        border-radius: 3px;
        border: 1px solid #CCC;
        width: 7rem;
        height: 2.5rem;
      }
    }
  }
}


.content-work-details{
  display: flex;
  flex-direction: column;


  .title-buttons-work-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2{
      color: #ED7839;
      width: 70%;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 25px;
      letter-spacing: 1px;
    }

    .buttons-container {
      display: flex;
      gap: .7rem;
      flex-wrap: wrap;
      width: 20rem;


        img{
          width: 15px;
        }
      }

      p{
        color: #ED7839;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0.7px;
      }
    }

  }


  .details-video-work-container{
    display: flex;

    .video-container{
      width: 75%;

      img{
        width: 90%;
      }
    }


    .details-container{
      color: #5C5C5C;
      font-family: 'Quicksand', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.24px;


    .other-detail-container{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem;
    }

    .author-detail-container{
      padding: 1rem;
      h4{
        font-size: 1rem;
        font-weight: 700;
      }

      p{
        font-size: 15px;
        margin-top: 15px;
      }
    }
    .university-detail-container{
      padding: 1rem;

      p{
        margin-top: 10px;
      }
    }
  }
}


.resume-container{
  .resume-text-container{
    padding: 1rem;
    p{
      color: #5C5C5C;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 162.5%; /* 22.75px */
      letter-spacing: 0.28px;
      .btn-show-more, .btn-show-more:visited{
        color: #ED7839;

      }

    }
  }

}

.topics-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .new-topic-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h4{
      color: #ED7839;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .icons-topic-container{
      display: flex;
      gap: 3rem;
    }

    p{
      color: #595959;
      text-align: center;
      font-family: Quicksand;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 137.5%;
    }
  }



  .answered-topic{

    border-radius: 4px;
    border: 1px solid #E7E7E7;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
    margin:0 10px 0 10px;
    padding: 1rem;

    .ops-topic-subject{
      color: #ED7839;
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p.nameuser{
      color: #5C5C5C;
      font-family: 'Quicksand', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p.comment {
      margin-top: 7px;
      color: #4D4D4D;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .topic-actions-container {
      margin-top: 1.8rem;
      display: flex;
      align-items: baseline;
      gap: 1rem;

      a{
        align-self: flex-end ;
      }
      span{
        color: #757575;
        font-family: Segoe UI;
        font-size: 14px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
      }
    }
  }
}

.action-button{
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  background: #ED7839;
  padding: 6px 12px;
  display: flex;
  gap: .5em;
}

p.hidden {
  display: none;
}

.container-with-border{
  border-radius: 3px;
  border: 1px solid #ECECEC;

}

.title-container{
  border-bottom: 1px solid #ECECEC;
  padding: 1rem;
  background: #FDF1EB;

}

