
<div class="content" role="main">
  <aside class="side-menu">
    <div class="name-event-container">
      <span>SLACA 2019</span>
    </div>
    <img src="../assets/dewey 4.png" alt="logo tipo" class="logo-img">
    <nav class="side-menu-navigator">
      <a href="#">Apresentação</a>
      <a href="#">Comitês</a>
      <a href="#">Autores</a>
      <a href="#">Eixos temáticos</a>
      <a href="#">Trabalhos</a>
      <a href="#">Contato</a>
    </nav>
  </aside>
  <main class="main">
    <header class="header">
      <div class="header-text-container">
        <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <h1>Anais do 13° Simpósio Latino Americano de Ciências de Alimentos</h1>
        <span>ISSN: 1234-5678</span>
      </div>
      <button>PT, BR</button>
      <div class="header-user-info-container">
        <span>Bem Vindo!</span>
        <span>alguem12@galoascience.com</span>
        <img src="" alt="">
      </div>
    </header>
    <div id="required-elements">
      <section class="content-work-details">
        <div class="title-buttons-work-container">
          <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
          <div class="buttons-container">
            <button class="action-button">
              <img style src="../assets/download.png" alt="">Download</button>
            <button class="action-button">
              <img src="../assets/star.png" alt=""></button>
            <button class="action-button">
              <img src="../assets/doi.png" alt=""></button>
            <p>COMO CITAR ESSE TRABALHO?</p>
          </div>
        </div>
        <div class="details-video-work-container">
          <div class="video-container">
            <img src="../assets/dewey 1.png" alt="Video pausado">
          </div>
          <div class="details-container container-with-border">
            <div  class="title-container">
              <h3>Detalhes</h3>
            </div>
            <div class="other-detail-container">
              <p>Tipo de Apresentação: <strong>Pôster</strong></p>
              <p>Eixo temático: <strong>Alimentação e saúde (AS)</strong></p>
              <p>Palavras-chaves: <strong> Alimentos funcionais, alimentação escolar.</strong></p>
            </div>
            <div class="author-detail-container">
              <h4>Autores:</h4>
              <p>Galileo Galilei¹</p>
              <p> Berta Lange de Morretes²</p>
              <p>Isaac Newton³</p>
              <p>Cesar Lattes¹</p>
              <p>Stephen Hawking⁴</p>
            </div>
            <div class="university-detail-container">
              <p>¹Universidade Estadual de Campinas</p>
              <p>²Universidade de São Paulo</p>
              <p>³Instituto Nacional de Pesquisas Espaciais</p>
              <p>⁴Universidade Federal do Rio de Janeiro</p>
            </div>
          </div>
        </div>
      </section>
      <section class="resume-container container-with-border">
        <div class="title-container ">
          <h3>Resumo</h3>
        </div>
        <div class="resume-text-container">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.<a href="#" class="btn-show-more">ver mais</a> </p>

          <p class="hidden"> Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
          </p>

          <p class="hidden">Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
          </p>

          <p class="hidden"> Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </section>
      <section class="topics-container container-with-border">
        <div class="title-container">
          <h3>Discussões</h3>
        </div>
        <div class="new-topic-container">
          <h4>Compartilhe suas idéias ou dúvidas com os autores!</h4>
          <div class="icons-topic-container">
            <img src="../assets/icone1.svg" alt="">
            <img src="../assets/icone2.svg" alt="">
            <img src="../assets/icone3.svg" alt="">
          </div>
          <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
        </div>
        <button href="#" class="btn-create-topic">
          <img src="../assets/icon - criar.svg" alt=""><span>
            criar tópico
          </span>
        </button>
        <div>
          <div  class="answered-topic">
          <h4 class="ops-topic-subject">Título do tópico</h4>
          <p class="nameuser">Carlos Henrique Santos</p>
          <p class="comment">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
          <div class="topic-actions-container">
            <a href="#">
              <img src="../assets/mais informações.svg" alt="">
            </a>
            <button class="action-button">
              <img src="../assets/green apples 22.png" alt="">
            </button>
            <span>1 like</span>
            <span>1 resposta</span>
          </div>
        </div>
        </div>
        <div>
          <div  class="answered-topic">
          <h4 class="ops-topic-subject">Título do tópico</h4>
          <p class="nameuser">Carlos Henrique Santos</p>
          <p class="comment">Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
          <div class="topic-actions-container">
            <a href="#">
              <img src="../assets/mais informações.svg" alt="">
            </a>
            <button class="action-button">
              <img src="../assets/green apples 22.png" alt="">
            </button>
            <span>4 like</span>
            <span>4 resposta</span>
          </div>
        </div>
          <div div class="comments-container has-role container-with-border">
            <header class="header-comment">
              <p class="nameuser">Adriano da Silva</p>
              <div>
                <span class="role">Autor</span>
                <img src="../assets/verify.png" alt="">
              </div>
            </header>
            <p class="comment">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
          <div div class="comments-container container-with-border">
            <header class="header-comment">
              <p class="nameuser">Carlos Henrique Santos</p>
              <div>
                <span class="role">Coautor</span>
                <img src="../assets/verify.png" alt="">
              </div>
            </header>
            <p class="comment">Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo formativo situado impacto de processo formativo.

              Obrigada pela resposta, muito interessante o seu trabalho!</p>
          </div>
          <div div class="comments-container has-role container-with-border">
            <header class="header-comment">
              <p class="nameuser">Carmila Ferreira Andrade</p>
              <div>
                <span class="role">Coautor</span>
                <img src="../assets/verify.png" alt="">
              </div>
            </header>
            <p class="comment">Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.

              Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
          <div div class="comments-container has-role container-with-border">
            <header class="header-comment">
              <p class="nameuser">Ana Carolina</p>
              <div>
                <span class="role">Coautor</span>
                <img src="../assets/verify.png" alt="">
              </div>
            </header>
            <p class="comment">Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
          </div>
        </div>
      </section>
      <form>
        Assunto:
        <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
        Conteúdo:
        <!-- <input> -->
        <button>Enviar</button>
      </form>
      <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
    </div>
    <footer>
      <img src="../assets/footer.png" alt="">
    </footer>
  </main>

</div>
